<div class="component-container">
  <div class="main-pane">
    <se-header id="header" [title]="title()"></se-header>

    <!-- Loading Spinner -->
    @if (loadingContent()) {
      <se-loading-spinner></se-loading-spinner>
    }

    <!-- Information if there is no selected sub topic (ie. initial page for Involvement) -->
    @if (!loadingContent() && (isMobile() || !selectedSubTopic())) {
      <div class="large-text-content">
        <markdown [data]="description()"></markdown>
      </div>
    }

    <!-- Information for selected subTopic details -->
    @if (selectedSubTopic() && !isMobile()) {
      <se-selected-sub-topic [selectedSubTopic]="selectedSubTopic()"> </se-selected-sub-topic>
    }
  </div>

  <div class="secondary-pane">
    <!-- Loading Spinner -->
    @if (loadingContent()) {
      <se-loading-spinner></se-loading-spinner>
    }

    <!-- List for all loaded sub topics -->
    @if (!loadingContent()) {
      <div class="list-container">
        @for (subTopic of subTopics(); track subTopic) {
          <!-- Sub Topic Bubble -->
          <div
            class="item-container clickable"
            style="--state-color:{{ subTopic.color }}"
            [ngClass]="{ active: selectedSubTopic()?.title === subTopic.title }"
          >
            <div class="item-row" (click)="selectSubTopic(subTopic)" id="{{ subTopic.title }}">
              <div class="item-title">
                {{ subTopic.title }}
              </div>
            </div>
            <!-- Information for selected Sub Topic details -->
            @if (isMobile() && selectedSubTopic()?.title === subTopic.title) {
              <se-selected-sub-topic [selectedSubTopic]="selectedSubTopic()">
              </se-selected-sub-topic>
            }
          </div>
        }
      </div>
    }
  </div>
</div>
