@import "src/styles/color-pallet.scss";

.delegates-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;

  .page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DDEDF4;
    padding: 10px;
    border: 5px solid #DDEDF4;
    margin-bottom: 10px;

    .title {
      font-size: 32px;
    }

    .description {
      margin-top: 10px;
      width: 700px;
      text-align: center;
    }
  }

  .delegate-item {
    display: flex;
    width: 800px;
    margin-top: 10px;
    margin-bottom: 10px;

    .delegate-photo {
      height: 350px;
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 10px;
      max-width: 300px;
      object-fit: contain;
      filter: 
        drop-shadow(0 -10px 0 $se-blue)
        drop-shadow(0 10px 0 $se-blue)
        drop-shadow(-10px 0 0 $se-blue)
        drop-shadow(10px 0 0 $se-blue);
    }

    .delegate-info {
      align-self: center;
      display: flex;
      flex-direction: column;
      padding: 10px;
      margin-top: 30px;
      margin-bottom: 30px;
      width: 100%;
      background-color: $se-grey;
      align-items: center;

      .delegate-name {
        font-size: 24px;
      }

      .delegate-sub-info {
        color: $se-purple;
      }

      .delegate-description {
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .delegate-links {
        margin-top: auto;
        display: flex;

        .wca-logo {
          height: 40px;
          margin-left: 5px;
          margin-right: 5px;
          cursor: pointer;
        }

        .contact-icon {
          width: 40px;
          margin-left: 5px;
          margin-right: 5px;
          padding-top: 18px;
          cursor: pointer;
          color: $se-blue;
        }
      }
    }

  }
}

@media only screen and (max-width: 850px) {
  .page-header {
    margin-left: 20px;
    margin-right: 20px;
  }

  .description {
    width: 100% !important;
    max-width: 700px !important;
  }

  .delegate-item {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
    width: calc(100% - 40px) !important;
    flex-direction: column !important;
  }

  .delegate-info {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
  }

  .delegate-photo {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    max-width: none !important;
    filter: 
      drop-shadow(0 -5px 0 $se-blue)
      drop-shadow(0 5px 0 $se-blue)
      drop-shadow(-5px 0 0 $se-blue)
      drop-shadow(5px 0 0 $se-blue) !important;
    max-height: 350px;
    height: auto !important;
  }

  .delegate-description {
    margin-right: 10px !important;
    margin-left: 10px !important;
  }
}
