<div class="header" [ngClass]="{ 'title-only': showTitle() && !showNavCluster() }">
  @if (showNavCluster()) {
    <img
      ngSrc="assets/SECILogoColor-header.png"
      alt="SECI Logo"
      width="240"
      height="120"
      priority
      class="se-logo"
      [routerLink]="'/home'"
    />
  }
  @if (showTitle()) {
    <h1 class="se-title">{{ title() }}</h1>
  }

  <!-- Mobile-only slot for a page to project a page-specific action -->
  @if (isMobile()) {
    <ng-content select="[mobileHeaderAction]"></ng-content>
  }

  <!-- Close Icon for when the nav is open -->
  @if (showNavCluster() && isNavActive() && !isMobile() && !activateNavOnDefault()) {
    <i
      class="close-icon fa-solid fa-close fa-2xl clickable icon-button"
      (click)="toggleNav(false)"
    ></i>
  }

  <!-- Nav system -->
  @if (showNavCluster() && !isMobile()) {
    <div class="nav-container" [ngClass]="{ active: isNavActive(), transition: transition() }">
      <se-nav
        [isNavActive]="isNavActive()"
        [transition]="transition()"
        [disableHomeLink]="disableHomeLink()"
        (toggleNavEmitter)="toggleNav($event)"
        (transitionEndEmitter)="onTransitionEnd()"
      ></se-nav>
      @if (!isNavActive() && !transition()) {
        <div class="nav-item-text">Menu</div>
      }
    </div>
  }
</div>
