@import "src/styles/screen-sizes.scss";

.large-text-content {
  margin: 50px 30px 20px 30px;
}

.list-container {
  margin: 10px 0 20px 20px;
}

.icon-row { 
  display: flex;
  flex-direction: row;
  margin: 16px 20px 0 20px;
  justify-content: end;
}

.fa-filter {
  color: white;
  font-size: 44px;
  cursor: pointer;
}

@media only screen and (max-width: $small-breakpoint) {
  .large-text-content {
    margin: 10px 5px;
  }
}
