@forward 'src/styles/sheet';
@use 'src/styles/color-pallet';

.selected-person {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  cursor: default;
}

.btn.small {
  padding: 4px 10px;
  font-size: 14px;
}
