@use 'src/styles/screen-sizes';

.badges {
  height: 50px;
  margin-top: 20px;
}

.large-text-content {
  margin: 30px 30px 20px 30px;
}

.item-sub-text {
  white-space: pre-line;
}

.fa-filter {
  color: white;
  font-size: 44px;
  cursor: pointer;
}

@media only screen and (max-width: screen-sizes.$small-breakpoint) {
  .large-text-content {
    margin: 10px 5px;
  }

  .fa-filter {
    color: black;
  }
}
