@import "src/styles/color-pallet.scss";
@import "src/styles/screen-sizes.scss";

.selected-item-container {
  .wca-logo-container {
    margin: 15px auto;
  }

  .wca-logo {
    height: 48px;
    width: 48px;
    cursor: pointer;
  }

}

@media only screen and (max-width: $small-breakpoint) {
  .photo-container {
    width: 80%;
  }
}
