<div class="competitions-container" *ngIf="!isMobile()">
  <div class="left-pane">
    <header [title]="title"></header>
    <ng-container *ngIf="!selectedCompetition">
      <div class="description">{{description}}</div>
      <div class="sub-text-container">
        <div class="sub-text-box">
          {{subText}}
          <div>
            <a href="https://www.facebook.com/groups/491409969462797/" target="_blank">
              <i class="fa-brands fa-square-facebook fa-2xl clickable"></i>
            </a>
            <a href="https://discord.gg/hp7DSmtReb/" target="_blank">
              <i class="fa-brands fa-discord fa-2xl clickable"></i>
            </a>
          </div>
        </div>
      </div>
    </ng-container>
    <div *ngIf="selectedCompetition" class="competition-information">
      <a [href]="'https://www.worldcubeassociation.org/competitions/' + selectedCompetition.id" target="_blank">
        <h2 class="competition-name">
          {{selectedCompetition.name}}
          <img src="assets/wca_logo.svg" class="wca-logo">
        </h2>
      </a>
      <div class="competition-details">
        <div class="event-container">
          <ng-container *ngFor="let event of selectedCompetition.event_ids"> 
            <span [ngClass]="'cubing-icon event-' + event"></span>
          </ng-container>
        </div>
        <div class="competition-details-row" [ngClass]="{'darker-border': selectedCompetition?.state === 'Tennessee'}">
          <div class="detail-container">
            <b>{{selectedCompetition.city}}</b>
            <div>Date: <b>{{selectedCompetition.full_date}}</b></div>
            <a [href]="'https://www.google.com/maps/search/' + selectedCompetition.venue_address" target="_blank">
              <div>Address: <b>{{selectedCompetition.venue_address}}</b></div>
            </a>
          </div>
          <div class="detail-container">
            <!-- location map -->
          </div>
        </div>
        <div class="competition-details-row" [ngClass]="{'darker-border': selectedCompetition?.state === 'Tennessee'}">
          <div class="detail-container">
            <div>Competitor Limit: <b>{{selectedCompetition.competitor_limit}}</b></div>
            <div *ngIf="selectedCompetition.registration_status === RegistrationStatus.preLaunch" class="small-registration-text">
              Registration will open on <b>{{selectedCompetition.readable_registration_open}}</b>. We highly recommend registering right when registration opens; some competitions fill within seconds.
              
            </div>
            <div *ngIf="selectedCompetition.registration_status === RegistrationStatus.closed">
              Registration has closed. We are no longer accepting registrations for this competition.
            </div>
            <div *ngIf="selectedCompetition.registration_status === RegistrationStatus.open" class="loading-registration-text">
              <loading-spinner [isDark]="selectedCompetition?.state === 'Tennessee'"></loading-spinner>
              Fetching registration status
            </div>
            <div *ngIf="selectedCompetition.registration_status === RegistrationStatus.openWithSpots">
              Registration is open! The competition is currently {{selectedCompetition.active_registrations / selectedCompetition.competitor_limit | percent}} full.
            </div>
            <div *ngIf="selectedCompetition.registration_status === RegistrationStatus.openWithWaitingList">
              Registration is <b>full</b>. You can still register for the waiting list in case of any cancellations.
            </div>
            <div *ngIf="[RegistrationStatus.preLaunch, RegistrationStatus.openWithSpots, RegistrationStatus.openWithWaitingList].includes(selectedCompetition.registration_status)">
              <a class="btn" [href]="'https://www.worldcubeassociation.org/competitions/' + selectedCompetition.id + '/register'"  target="_blank"  [ngClass]="{'darker-border': selectedCompetition?.state === 'Tennessee'}">
                Register Here
                <i class="fa-solid fa-up-right-from-square fa-sm"></i>
              </a>
            </div>
          </div>
          <div class="detail-container">
            Have any questions? Reach out to the organizers!
            <div>
              <a class="btn" [href]="'https://www.worldcubeassociation.org/contact/website?competitionId=' + selectedCompetition.id"  target="_blank"  [ngClass]="{'darker-border': selectedCompetition?.state === 'Tennessee'}">
                Contact
                <i class="fa-regular fa-envelope fa-lg clickable"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-pane">
    <div class="competitions-list-container">
      <ng-container *ngFor="let competition of competitions; let i = index; ">
        <div 
          class="competition-item-container clickable" 
          style="--state-color:{{StateColors[competition.state]}}" 
          [ngClass]="{active: selectedCompetition?.name === competition.name}"
          (click)="selectCompetition(competition)"
        >
          <div class="competition-name">
            {{competition.name}}
          </div>
          <div class="competition-date">
            {{competition.full_date}}
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<div class="competitions-container-mobile" *ngIf="!isMobile()">

</div>

<!-- <loading-spinner *ngIf="loadingContent"></loading-spinner> -->
