<div class="component-container">
  <div class="main-pane">
    <header id="header" [title]="title"></header>

    <!-- Loading Spinner -->
    <loading-spinner *ngIf="loadingContent"></loading-spinner>

    <!-- Information if there is no selected competition (ie. initial page for Competitions) -->
    <ng-container *ngIf="!loadingContent && (isMobile || !selectedCompetition)">
      <div class="large-text-content">{{description}}</div>

      <!-- section for external links text Bubble -->
      <div class="sub-text-container">
        <div class="sub-text-box">
          {{subText}}
          <div class="badges">
            <a href="enviroment.links.facebook" target="_blank">
              <i class="fa-brands fa-square-facebook fa-2xl clickable"></i>
            </a>
            <a href="envrioment.links.discord" target="_blank">
              <i class="fa-brands fa-discord fa-2xl clickable"></i>
            </a>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- Information for selected competition details -->
    <se-selected-competition *ngIf="selectedCompetition && !isMobile" [selectedCompetition]="selectedCompetition">
    </se-selected-competition>
  </div>
  <div class="secondary-pane">
    <!-- Loading Spinner -->
    <loading-spinner *ngIf="loadingCompetitions"></loading-spinner>

    <div class="list-container" *ngIf="!loadingCompetitions">
      <!-- List for all loaded competitions -->
      <ng-container *ngFor="let competition of competitions;">
        <!-- Competition Bubble -->
        <div class="item-container clickable" style="--state-color:{{StateColors[competition.state]}}"
          [ngClass]="{active: selectedCompetition?.name === competition.name}">
          <div class="item-row" (click)="selectCompetition(competition)" id="{{competition.id}}">
            <div class="item-title">
              {{competition.name}}
            </div>
            <div class="item-sub-text">
              {{competition.full_date}}
            </div>
          </div>
          <!-- Information for selected competition details -->
          <se-selected-competition *ngIf="isMobile && selectedCompetition?.id === competition.id"
            [selectedCompetition]="selectedCompetition">
          </se-selected-competition>
        </div>
      </ng-container>
    </div>
  </div>
</div>
