@import "src/styles/screen-sizes.scss";

.badges {
  height: 50px;
  margin-top: 20px;
}

.large-text-content {
  margin: 100px 30px 20px 30px;
}

.sub-text-container {
  margin-top: -45px;
}

@media only screen and (max-width: $small-breakpoint) {
  .large-text-content {
    margin: 10px 5px;
  }
}
