@use 'src/styles/constants';
@use 'src/styles/screen-sizes';

.project-container {
  display: flex;
  flex-direction: column;

  .desktop-container {
    width: calc(100vw - 2 * constants.$website-border-size);
    height: calc(100vh - 2 * constants.$website-border-size);
    padding: constants.$website-border-size;
  }

  .mobile-container {
    height: calc(100% - constants.$footer-height + 10px);
    overflow-y: scroll;
  }

  se-footer {
    height: calc(constants.$footer-height - 10px);
  }
}

@media only screen and (max-width: screen-sizes.$small-breakpoint) {
  .project-container {
    height: 100vh;
    max-height: -webkit-fill-available;
    height: 100dvh;
  }
}
