$se-black: #1a1a18;
$se-blue: #9ac1cb;
$se-dark-blue: #2c7487;
$se-dark-grey: #798897;
$se-green: #6aa076;
$se-dark-green: #3e6146;
$se-grey: #dfe0df;
$se-yellow: #f1e3c0;
$se-purple: #bcabe3;
$se-orange: #ffa460;
$se-red: #e69291;
$se-dark-red: #b72b2a;
