@import "src/styles/color-pallet.scss";

.header {
  display: flex;
  height: 80px;
  width: 100%;

  .se-logo {
    height: calc(100% - 20px);
    margin: 10px 10px 10px 30px;
    cursor: pointer;
    z-index: 1;
  }

  .se-title {
    margin-right: 40px;
    margin-left: 40px;
    cursor: pointer;
    line-height: 25px;
    z-index: 1;
  }

  .close-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 40px;
    z-index: 1;
  }

  .clickable {
    cursor: pointer;
  }

  .nav-container {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu {
    position: relative;
    width: 100px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu .navigation {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    transition-delay: 0.5s;
  }
  
  .menu .navigation span {
    position: absolute;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    // background: $se-black;
    transform: translate(calc(14px * var(--x)), calc(14px * var(--y)));
    transition: transform 0.5s, width 0.5s, height 0.5s;
    transition-delay: calc(0.1s * var(--i) + 1);
    border: 1px solid $se-black;
  }
  
  .menu .navigation span .fa-solid {
    // color: $se-black;
    font-size: 0.25rem;
    transition: 0.5s;
  }

  .nav-container.active {
    position: absolute;
    height: calc(100vh - 30px);
    width: calc(50% - 30px);
    background-color: var(--right-pane-color);
  }

  .nav-container.transition {
    position: absolute;
    height: calc(100vh - 30px);
    width: calc(50% - 30px);
    background-color: var(--right-pane-color);
  }
  
  .menu .navigation.active span .fa-solid {
    font-size: 1.75rem;
    transition: 0.5s;
    transition-delay: 0.5s;
  }

  .hidden-text {
    display: none;
  }
  
  .menu .navigation.transitioned.active span:hover .fa-solid {
    display: none;
  }
  
  .menu .navigation.transitioned.active span:hover .fa-solid + .hidden-text {
    display: block;
  }

  .menu .navigation.active span {
    width: 100px;
    height: 100px;
    // background: #1f2536;
    border: 2px solid $se-black;
    border-radius: 5px;
    transform: translate(calc(133px * var(--x)), calc(133px * var(--y)));
    transition-delay: 0.5s;
  }

  .black-cube {
    background-color: $se-black;
    color: white;
  }

  .blue-cube {
    background-color: $se-blue;
  }

  .green-cube {
    background-color: $se-green;
  }

  .grey-cube {
    background-color: $se-grey;
  }

  .orange-cube {
    background-color: $se-orange;
  }

  .purple-cube {
    background-color: $se-purple;
  }

  .red-cube {
    background-color: $se-red;
  }

  .white-cube {
    background-color: white;
  }

  .yellow-cube {
    background-color: $se-yellow;
  }

}
