@import "src/styles/color-pallet.scss";

.header {
  display: flex;
  height: 70px;
  width: 100%;
  background-color: $se-blue;

  .se-logo {
    height: 100%;
    margin-left: 30px;
    margin-right: 10px;
    cursor: pointer;
  }

  .se-title {
    color: white;
    margin-right: 40px;
    margin-left: 40px;
    cursor: pointer;
    line-height: 25px;
  }

  .nav {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    margin-left: auto;
    color: white;

    .nav-item {
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 26px;
      cursor: pointer;
    }

    .nav-menu {
      align-items: center;
      display: flex;
      margin-left: 10px;
      margin-right: 10px;
    }

    .nav-menu-item {
    }
  }
}

.mobile {
  display: none;
}

@media only screen and (max-width: 850px) {
  .nav-item {
    display: none !important;
  }

  .mobile {
    display: flex !important;
  }

  .se-logo {
    margin-left: 10px !important;
  }

  .se-title {
    margin-right: 5px !important;
    margin-left: 5px !important;
  }

  .nav {
    margin-right: 0 !important;
  }
}
