<div class="component-container">
  <div class="main-pane">
    <header id="header" [title]="title" [useMediumBreakpoint]="true"></header>

    <!-- Loading Spinner -->
    <loading-spinner *ngIf="loadingContent"></loading-spinner>

    <!-- Information if there is no selected championship (ie. initial page for Championships) -->
    <ng-container *ngIf="!loadingContent && (isMobile || !selectedChampionship)">
      <div class="large-text-content">{{description}}</div>

      <div class="sub-text-container">
        <!-- Section for links to follow -->
        <div class="sub-text-box">
          {{subText1}}
          <div class="badges">
            <!-- Facebook -->
            <a href="{{enviroment.links.facebook}}" target="_blank">
              <i class="fa-brands fa-square-facebook fa-2xl clickable"></i>
            </a>

            <!-- Discord -->
            <a href="{{enviroment.links.discord}}" target="_blank">
              <i class="fa-brands fa-discord fa-2xl clickable"></i>
            </a>
          </div>
        </div>
      </div>

    </ng-container>

    <!-- Information for selected championship details -->
    <se-selected-championship *ngIf="selectedChampionship && !isMobile" [selectedChampionship]="selectedChampionship">
    </se-selected-championship>
  </div>

  <div class="secondary-pane">
    <!-- Loading Spinner -->
    <loading-spinner *ngIf="loadingChampionships"></loading-spinner>

    <!-- List for all loaded championships -->
    <div class="list-container" *ngIf="!loadingChampionships">
      <ng-container *ngFor="let championship of championships;">
        <!-- Championship Bubble -->
        <div class="item-container clickable" style="--state-color:{{StateColors[championship.state]}}"
          [ngClass]="{active: selectedChampionship?.id === championship.id}">
          <div class="item-row" (click)="selectChampionship(championship)" id="{{championship.id}}">
            <img class="thumbnail" src="{{championship.logo}}">
            <div class="item-title">
              {{championship.name}}
            </div>
            <div class="item-sub-text">
              {{championship.city}}
            </div>
          </div>

          <!-- Information for selected championship details -->
          <se-selected-championship *ngIf="isMobile && selectedChampionship?.id === championship.id"
            [selectedChampionship]="selectedChampionship">
          </se-selected-championship>
        </div>
      </ng-container>
    </div>
  </div>
</div>
