<div class="component-container">
  <div class="main-pane">
    <se-header id="header" [title]="title()"></se-header>

    <form [formGroup]="contactForm" class="form">
      <!-- Email Type -->
      <mat-form-field class="form-field">
        <mat-label>What would you like to contact us about?</mat-label>
        <mat-select [formControl]="emailTypeControl">
          @for (emailTypeOption of emailTypeOptions; track emailTypeOption) {
            <mat-option [value]="emailTypeOption.value">
              {{ emailTypeOption.label }}
            </mat-option>
          }
        </mat-select>
        @if (emailTypeControl.hasError('required')) {
          <mat-error>Please select a topic</mat-error>
        }
      </mat-form-field>

      <!-- Loading Spinner -->
      @if (emailTypeControl.value === EmailType.upcomingCompetition && loadingCompetitions()) {
        <se-loading-spinner> </se-loading-spinner>
      }

      @if (emailTypeControl.value === EmailType.upcomingCompetition && !loadingCompetitions()) {
        <!-- Competition -->
        <mat-form-field class="form-field">
          <mat-label>Competition</mat-label>
          <mat-select [(value)]="selectedCompetition">
            @for (competition of competitions(); track competition) {
              <mat-option [value]="competition.id">
                {{ competition.name }}
              </mat-option>
            }
          </mat-select>
          @if (emailTypeControl.hasError('required')) {
            <mat-error>Please select a topic</mat-error>
          }
        </mat-form-field>
        <!-- Info about contacting organizers -->
        @if (selectedCompetition) {
          <div class="medium-text-content">
            In order to contact the organizers about this competition, you will need to do so
            through the WCA Website. You can access that here:
          </div>
          <!-- Contact Competitions Button -->
          <div>
            <a
              class="btn"
              [href]="environment.links.wcaContact + selectedCompetition"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img ngSrc="assets/wca_logo.svg" width="293" height="293" class="wca-logo" />
              Contact Organizers
              <i class="fa-regular fa-envelope fa-lg clickable"></i>
            </a>
          </div>
        }
      }

      @if (emailTypeControl.value !== EmailType.upcomingCompetition) {
        <div class="form-row">
          <!-- Name -->
          <mat-form-field class="form-field left-field">
            <mat-label>Your Name</mat-label>
            <input matInput [formControl]="nameControl" />
            @if (nameControl.hasError('required')) {
              <mat-error>Your name is required</mat-error>
            }
          </mat-form-field>
          <!-- Email -->
          <mat-form-field class="form-field right-field">
            <mat-label>Email</mat-label>
            <input type="email" matInput [formControl]="emailControl" />
            @if (emailControl.hasError('email') && !emailControl.hasError('required')) {
              <mat-error> Please enter a valid email address </mat-error>
            }
            @if (emailControl.hasError('required')) {
              <mat-error>Email is required</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="form-row">
          <!-- Subject -->
          <mat-form-field class="form-field left-field">
            <mat-label>Subject</mat-label>
            <input matInput [formControl]="subjectControl" />
            @if (subjectControl.hasError('required')) {
              <mat-error>A subject is required</mat-error>
            }
          </mat-form-field>
          <!-- Competition Name -->
          @if (emailTypeControl.value === EmailType.pastCompetition) {
            <mat-form-field class="form-field right-field">
              <mat-label>Competition Name</mat-label>
              <input matInput [formControl]="competitionNameControl" />
              @if (competitionNameControl.hasError('required')) {
                <mat-error>A Competition Name is required</mat-error>
              }
            </mat-form-field>
          }
        </div>
        <!-- Message -->
        <mat-form-field class="form-field">
          <mat-label>Your Message</mat-label>
          <textarea matInput [formControl]="messageControl"></textarea>
          @if (messageControl.hasError('required')) {
            <mat-error>A message is required</mat-error>
          }
        </mat-form-field>
        <!-- Submit Button -->
        @if (emailApiStatus() !== EmailApiStatus.pending) {
          <div>
            <a class="btn" (click)="onSubmit()">
              Submit
              <i class="fa-regular fa-envelope fa-sm"></i>
            </a>
          </div>
        }
        <!-- Loading Spinner -->
        @if (emailApiStatus() === EmailApiStatus.pending) {
          <se-loading-spinner></se-loading-spinner>
        }
        <!-- Success -->
        @if (emailApiStatus() === EmailApiStatus.success) {
          <div class="small-text-content success-message">
            <i class="fa-solid fa-circle-check fa-sm"></i>
            Your message has successfully sent!
          </div>
        }
        <!-- Failure -->
        @if (emailApiStatus() === EmailApiStatus.failure) {
          <div class="small-text-content error-message">
            <i class="fa-solid fa-circle-xmark fa-sm"></i>
            Unfortunately an error has occurred. Please try again.
          </div>
        }
        <!-- Double Failure -->
        @if (emailApiStatus() === EmailApiStatus.doubleFailure) {
          <div class="small-text-content error-message">
            <i class="fa-solid fa-circle-xmark fa-sm"></i>
            Unfortunately an error has occurred. If the issue persists, you can email us directly at
            contact&#64;southeastcubing.org.
          </div>
        }
      }
    </form>
  </div>

  <div class="secondary-pane">
    <!-- Loading Spinner -->
    @if (loadingContent()) {
      <se-loading-spinner></se-loading-spinner>
    }

    <!-- FAQ -->
    @if (!loadingContent()) {
      <div class="list-container">
        <h2>Frequently Asked Questions</h2>
        <div>
          <markdown [data]="description()"></markdown>
        </div>
      </div>
    }
  </div>
</div>
