<!-- List for all loaded teams -->
<div class="list-container">
  @for (team of teams(); track team) {
    <!-- Team Bubble -->
    <div class="team-container">
      <div class="team-row">
        <div class="team-title">
          <b>{{ team.name }}</b>
        </div>
        <div class="team-description">
          {{ team.description }}
        </div>
        <div class="team-persons-container">
          @for (member of team.members; track member.peopleId) {
            <div class="team-person" [attr.data-color]="member.color ?? 'grey'">
              <b>{{ member.name }}</b>
              {{ member.tag }}
              @if (member.pictureUrl) {
                <se-avatar
                  [src]="member.pictureUrl"
                  [alt]="member.name"
                  [size]="60"
                  [cropX]="member.thumbnailCropX"
                  [cropY]="member.thumbnailCropY"
                  [cropW]="member.thumbnailCropW"
                  [cropH]="member.thumbnailCropH"
                  class="thumbnail"
                  [ngClass]="{ 'extra-spacing': !member.tag }"
                ></se-avatar>
              }
            </div>
          }
        </div>
      </div>
    </div>
  }
</div>
