<!-- List for all loaded teams -->
<div class="list-container">
  @for (team of teams(); track team) {
    <!-- Team Bubble -->
    <div class="team-container">
      <div class="team-row">
        <div class="team-title">
          <b>{{ team.name }}</b>
        </div>
        <div class="team-description">
          {{ team.description }}
        </div>
        <div class="team-persons-container">
          <!-- {{team.persons}} -->
          @for (teamMember of team.teamMembers; track teamMember) {
            <div class="team-person" [style.--team-member-color]="teamMember.color">
              <b>{{ teamMember.name }}</b>
              {{ teamMember.title }}
              @if (teamMember.thumbnail) {
                <img
                  ngSrc="{{ teamMember.thumbnail }}"
                  [alt]="teamMember.thumbnailAlt ?? ''"
                  [width]="teamMember.thumbnailWidth"
                  [height]="teamMember.thumbnailHeight"
                  class="thumbnail"
                  [ngClass]="{ 'extra-spacing': !teamMember.title }"
                />
              }
            </div>
          }
        </div>
      </div>
    </div>
  }
</div>
