<div class="selected-item-container">
  <!-- Competition Name w/ WCA Logo & Link to competition on WCA -->
  <a [href]="'https://www.worldcubeassociation.org/competitions/' + selectedCompetition.id" target="_blank"
    *ngIf="!isMobile">
    <h2 class="title-text">
      {{selectedCompetition.name}}

      <!-- WCA Logo -->
      <img src="assets/wca_logo.svg" class="wca-logo">
    </h2>
  </a>

  <!-- container for remaining details for styling -->
  <div class="competition-details">
    <!-- Competition Event List -->
    <div class="event-container">
      <ng-container *ngFor="let event of selectedCompetition.event_ids">
        <span [ngClass]="'cubing-icon event-' + event"></span>
      </ng-container>
    </div>

    <!-- Basic Info Bubble -->
    <div class="detail-container" [ngClass]="{'darker-border': selectedCompetition?.state === 'Tennessee'}">
      <div>City: <b>{{selectedCompetition.city}}</b></div>
      <div *ngIf="!isMobile">Date: <b>{{selectedCompetition.full_date}}</b></div>
      <a [href]="'https://www.google.com/maps/search/' + selectedCompetition.venue_address" target="_blank">
        <div>Address: <b>{{selectedCompetition.venue_address}}</b></div>
      </a>
    </div>

    <!-- Location On Google Map View Bubble -->
    <div class="detail-container" [ngClass]="{'darker-border': selectedCompetition?.state === 'Tennessee'}"
      *ngIf="!isMobile">
      TODO
    </div>

    <!-- Registration Information Bubble -->
    <div class="detail-container" [ngClass]="{'darker-border': selectedCompetition?.state === 'Tennessee'}">
      <div>Competitor Limit: <b>{{selectedCompetition.competitor_limit}}</b></div>

      <!-- Info for Registration Status pre launch -->
      <div *ngIf="selectedCompetition.registration_status === RegistrationStatus.preLaunch" class="tiny-text-content">
        Registration will open on <b>{{selectedCompetition.readable_registration_open}}</b>. We highly recommend
        registering right when registration opens; some competitions fill within seconds.
      </div>

      <!-- Info for Registration Status Closed -->
      <div *ngIf="selectedCompetition.registration_status === RegistrationStatus.closed">
        Registration has closed. We are no longer accepting registrations for this competition.
      </div>

      <!-- Loading text for Registration Status open -->
      <div *ngIf="selectedCompetition.registration_status === RegistrationStatus.open"
        class="loading-registration-text">
        <loading-spinner [isDark]="selectedCompetition?.state === 'Tennessee'"></loading-spinner>
        Fetching registration status
      </div>

      <!-- Info for Registration Status open with spots -->
      <div *ngIf="selectedCompetition.registration_status === RegistrationStatus.openWithSpots">
        Registration is open! The competition is currently {{selectedCompetition.accepted_registrations /
        selectedCompetition.competitor_limit | percent}} full.
      </div>

      <!-- Info for Registration Status open with a waiting list -->
      <div *ngIf="selectedCompetition.registration_status === RegistrationStatus.openWithWaitingList">
        Registration is <b>full</b>. You can still register for the waiting list in case of any cancellations.
      </div>

      <!-- Register here link to WCA for cetain Registration Statuses -->
      <div
        *ngIf="[RegistrationStatus.preLaunch, RegistrationStatus.openWithSpots, RegistrationStatus.openWithWaitingList].includes(selectedCompetition.registration_status)">
        <a class="btn"
          [href]="'https://www.worldcubeassociation.org/competitions/' + selectedCompetition.id + '/register'"
          target="_blank" [ngClass]="{'darker-border': selectedCompetition?.state === 'Tennessee'}">
          Register Here
          <i class="fa-solid fa-up-right-from-square fa-sm"></i>
        </a>
      </div>
    </div>

    <!-- Contact Bubble -->
    <div class="detail-container" [ngClass]="{'darker-border': selectedCompetition?.state === 'Tennessee'}">
      <div>Have any questions? Reach out to the organizers!</div>
      <div>
        <a class="btn"
          [href]="'https://www.worldcubeassociation.org/contact/website?competitionId=' + selectedCompetition.id"
          target="_blank" [ngClass]="{'darker-border': selectedCompetition?.state === 'Tennessee'}">
          Contact
          <i class="fa-regular fa-envelope fa-lg clickable"></i>
        </a>
      </div>
    </div>
  </div>
</div>
