$se-black: #1A1A18;
$se-blue: #9AC1CB;
$se-dark-grey: #798897;
$se-green: #6AA076;
$se-dark-green: #3E6146;
$se-grey: #DFE0DF;
$se-yellow: #F1E3C0; 
$se-purple: #BCABE3;
$se-orange: #FFA460;
$se-red: #E69291;
$se-dark-red: #B72B2A;
