@import "color-pallet.scss";

body {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  background-color: $se-black;
}
// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
