@import "color-pallet.scss";
@import "screen-sizes.scss";

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratBold';
  src: url('../assets/fonts/Montserrat-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Montserrat';
  margin: 0;
  background: linear-gradient(to left top, $se-dark-grey, $se-grey);
}

h1, h2, b {
  font-family: 'MontserratBold';
}

a {
  text-decoration: none;
  color: black;
}

.component-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}

.main-pane {
  display: flex;
  width: 50%;
  height: 100%;
  background-color: var(--main-pane-color);
  flex-direction: column;
  border-radius: 10px 0 0 10px;
  overflow-y: scroll;
  box-shadow: 3px 3px 5px rgb(0 0 0 / 0.4);

  header {
    z-index: 10001;
    position: sticky;
    top: 0;
    background-color: var(--main-pane-color);
  }
}

.secondary-pane {
  display: flex;
  width: 50%;
  height: 100%;
  background-color: $se-black;
  flex-direction: column;
  border-radius: 0 10px 10px 0;
  box-shadow: 3px 3px 5px rgb(0 0 0 / 0.4);

  .list-container {
    display: flex;
    height: 100%;
    margin: 50px 0 20px 20px;
    flex-direction: column;
    overflow-y: scroll;

    .item-container {
      display: flex;
      flex-direction: row;
      width: 90%;
      min-height: 70px;
      margin-left: auto;
      margin-bottom: 7px;
      background-color: var(--state-color);
      border-radius: 10px 0 0 10px;
      transition: 0.5s;

      .thumbnail {
        height: 60px;
        width: 60px;
        margin: 5px;
        border-radius: 10px;
      }

      .item-row {
        display: flex;
        flex-direction: row;
        width: 100%;
        min-height: 70px;
      }

      .item-title {
        font-size: 24px;
        margin: auto 0 auto 20px;
      }

      .item-sub-text {
        font-size: 16px;
        margin: auto 10px auto auto;
        text-align: right;
      }
    }

    .item-container:hover {
      width: 87%;
      transition: 0.5s;
    }

    .item-container.active {
      width: 87%;
      transition: 0.5s;
    }
  }
}

.title-text {
  font-size: 48px;
  cursor: pointer;
  text-align: center;
  margin: 30px auto 0 auto;
}

.large-text-content {
  margin: 50px 30px;
  width: calc(100% - 60px);
  text-align: center;
  font-size: 30px;
  white-space: pre-wrap;
}

.medium-text-content {
  text-align: center;
  font-size: 24px;
  margin: 5px auto;
  white-space: pre-wrap;
}

.small-text-content {
  text-align: center;
  font-size: 18px;
  margin: 5px auto;
  white-space: pre-wrap;
}

.tiny-text-content {
  font-size: 16px;
}

.clickable {
  cursor: pointer;
  color: $se-black;
}

.sub-text-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: row wrap;
  margin: 20px 0;

  .sub-text-box {
    width: 300px;
    height: 200px;
    margin: 0 20px;
    padding: 15px;
    font-size: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .fa-brands {
      margin: 0 20px;
    }
  }
}

.btn {
  width: fit-content;
  border: 3px solid $se-black;
  border-radius: 30px;
  padding: 10px;
  background-color: $se-grey;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  box-shadow: 3px 3px 5px rgb(0 0 0 / 0.4);
}

.selected-item-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 20px;
}

.photo-container {
  width: 60%;
  margin: 5px auto;
  text-align: center;
}

.image {
  max-height: 300px;
  max-width: 80%;
  border-radius: 10px;
}

.medium-image {
  max-height: 400px;
  box-shadow: 3px 3px 5px rgb(0 0 0 / 0.4);
}

loading-spinner {
  margin: auto;
}

@media only screen and (max-width: $small-breakpoint) {
  body {
    background: $se-black;
  }

  .component-container {
    flex-direction: column;
    height: fit-content;
  }

  .main-pane {
    width: 100%;
    height: 100%;
    border-radius: 0;
    overflow-y: auto;
    height: fit-content;
    box-shadow: none;
  }

  .secondary-pane {
    width: 100%;
    height: fit-content;
    border-radius: 0;
    overflow-y: auto;

    .list-container {
      height: fit-content;
      margin: 6px;

      .item-container {
        width: calc(100% - 8px);
        margin: 4px;
        border-radius: 10px;
        flex-direction: column;

        .item-title {
          font-size: 20px;
          font-weight: bold;
          margin: auto 10px auto 5px;
        }

        .item-sub-text {
          text-align: right;
        }
      }

      .item-container:hover {
        width: calc(100% - 8px);
      }

      .item-container.active {
        width: calc(100% - 8px);
        height: fit-content;
      }
    }
  }

  .project-container {
    background-color: var(--main-pane-color);
  }

  .large-text-content {
    margin: 10px 5px;
    width: calc(100% - 10px);
    text-align: center;
    font-size: 24px;
  }

  .medium-text-content {
    font-size: 20px;
  }

  .selected-item-container {
    margin: 0 5px;
  }

  .sub-text-box {
    height: fit-content !important;
    margin: 10px !important;
    padding: 0 !important;

    .btn {
      margin: 10px auto;
    }
  }
}
