<div class="component-container">
  <div class="main-pane">
    <se-header id="header" [title]="title()" [showNavCluster]="isMobile()"></se-header>

    <!-- Loading Spinner -->
    @if (loadingContent()) {
      <se-loading-spinner></se-loading-spinner>
    }

    <!-- Information if there is no selected Cat (ie. initial page for Cats) -->
    @if (!loadingContent() && (isMobile() || !selectedCat())) {
      <div class="large-text-content">
        <markdown [data]="description()"></markdown>
      </div>
    }

    <!-- Information for selected cat details -->
    @if (selectedCat() && !isMobile()) {
      <se-selected-cat [selectedCat]="selectedCat()"> </se-selected-cat>
    }
  </div>
  <div class="side-pane">
    @if (!isMobile()) {
      <se-header id="header" [showTitle]="false"></se-header>
    }

    <!-- Loading Spinner -->
    @if (loadingCats()) {
      <se-loading-spinner></se-loading-spinner>
    }

    @if (!loadingCats()) {
      <div class="list-container">
        <!-- List for all loaded cats -->
        @for (cat of cats(); track cat) {
          <!-- Cat Bubble -->
          <div
            class="item-container clickable"
            [style.--state-color]="cat.color"
            [ngClass]="{ active: selectedCat()?.name === cat.name }"
          >
            <a
              class="item-row"
              [routerLink]="buildDetailUrl('/cats', cat.name)"
              (click)="onCatRowClick($event, cat)"
              id="{{ cat.name }}"
            >
              <img
                ngSrc="{{ cat.thumbnail }}"
                [alt]="cat.thumbnailAlt ?? ''"
                [width]="cat.thumbnailWidth"
                [height]="cat.thumbnailHeight"
                class="thumbnail"
              />
              <div class="item-title">
                {{ cat.name }}
              </div>
            </a>
            <!-- Information for selected competition details -->
            @if (isMobile() && selectedCat()?.name === cat.name) {
              <se-selected-cat [selectedCat]="selectedCat()"> </se-selected-cat>
            }
          </div>
        }
      </div>
    }
  </div>
</div>
