@import "src/styles/color-pallet.scss";

.selected-item-container {

  .delegate-details-row {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin: 30px 0;
  }

  .wca-logo-container {
    margin: 15px auto;
  }

  .wca-logo {
    height: 48px;
    width: 48px;
    cursor: pointer;
  }

}
