@import "src/styles/screen-sizes.scss";

.component-container {
  .main-pane {
    .large-text-content {
      font-size: 24px;
    }

    .sub-text-box {
      height: 250px;
    }

    .badges {
      height: 50px;
    }
  }
}

@media only screen and (max-width: $medium-breakpoint) {
  .item-title {
    font-size: 20px !important;
  }
}

@media only screen and (max-width: $small-breakpoint) {
  .badges {
    margin-top: 20px;
  }

  .item-title {
    font-size: 16px !important;
  }
}

::ng-deep carousel {
  div {
    border-radius: 10px;
  }
}
