@use 'src/styles/screen-sizes';

.component-container {
  .main-pane {
    .large-text-content {
      font-size: 24px;
    }

    .sub-text-box {
      height: 250px;
    }

    .badges {
      height: 50px;
    }
  }

  .side-pane {
    .list-container {
      // Extra breathing room above the first item of each new championship-type group.
      .group-start {
        margin-top: 40px;
      }

      .item-row {
        align-items: center;
      }

      .item-title {
        margin-left: 5px;
      }

      .item-sub-text {
        width: 80px;
        flex-shrink: 0;
        white-space: pre-line;
      }
    }
  }
}

@media only screen and (max-width: screen-sizes.$small-breakpoint) {
  .badges {
    margin-top: 20px;
  }

  .item-title {
    font-size: 16px !important;
  }

  .item-sub-text {
    width: auto !important;
    flex-shrink: 1 !important;
    white-space: normal !important;
  }
}
