@import "src/styles/color-pallet.scss";
@import "src/styles/constants.scss";
@import "src/styles/screen-sizes.scss";

.project-container {
  display: flex;
  flex-direction: column;

  .desktop-container {
    width: calc(100vw - 2 * $website-border-size);
    height: calc(100vh - 2 * $website-border-size);
    padding: $website-border-size;
  }

  .mobile-container {
    height: calc(100% - $footer-height + 10px);
    overflow-y: scroll;
  }

  footer {
    height: calc($footer-height - 10px);
  }
}

@media only screen and (max-width: $small-breakpoint) {
  .project-container {
    height: 100vh;
    max-height: -webkit-fill-available;
  }
}
