<div class="component-container">
  <div class="main-pane">
    <header id="header" [title]="title"></header>

    <!-- Loading Spinner -->
    <loading-spinner *ngIf="loadingContent"></loading-spinner>

    <!-- Information if there is no selected club (ie. initial page for Clubs) -->
    <ng-container *ngIf="!loadingContent && (isMobile || !selectedClub)">
      <div class="large-text-content">{{description}}</div>

      <div class="sub-text-container">
        <!-- Section for Start a new club form -->
        <div class="sub-text-box">
          {{subText1}}
          <div>
            <a class="btn darker-border" [href]="'https://forms.gle/QZVxzyVsxgaJZQme7'" target="_blank">
              Apply Here
              <i class="fa-solid fa-up-right-from-square fa-sm"></i>
            </a>
          </div>
        </div>

        <!-- Section for contacting SEC about clubs -->
        <div class="sub-text-box">
          {{subText2}}
          <div>
            <a class="btn darker-border" [routerLink]="'/contact'" [queryParams]="{defaultEmailType:'clubs'}">
              Contact Us
              <i class="fa-regular fa-envelope fa-sm"></i>
            </a>
          </div>
        </div>
      </div>

    </ng-container>

    <!-- Information for selected club details -->
    <se-selected-club *ngIf="selectedClub && !isMobile" [selectedClub]="selectedClub">
    </se-selected-club>
  </div>

  <div class="secondary-pane">
    <!-- Loading Spinner -->
    <loading-spinner *ngIf="loadingClubs"></loading-spinner>

    <!-- List for all loaded clubs -->
    <div class="list-container" *ngIf="!loadingClubs">
      <ng-container *ngFor="let club of clubs;">
        <!-- Club Bubble -->
        <div class="item-container clickable" style="--state-color:{{StateColors[club.state]}}"
          [ngClass]="{active: selectedClub?.name === club.name && selectedClub?.city === club.city}">
          <div class="item-row" (click)="selectClub(club)" id="{{club.name + club.city}}">
            <div class="item-title">
              {{club.name}}
            </div>
            <div class="item-sub-text">
              {{club.city}}
            </div>
          </div>
          <!-- Information for selected competition details -->
          <se-selected-club *ngIf="isMobile && selectedClub?.name === club.name && selectedClub.city === club.city"
            [selectedClub]="selectedClub">
          </se-selected-club>
        </div>
      </ng-container>
    </div>
  </div>
</div>
