<div class="component-container">
  <div class="main-pane">
    <header id="header" [title]="title"></header>

    <!-- Loading Spinner -->
    <loading-spinner *ngIf="loadingContent"></loading-spinner>

    <!-- Information if there is no selected club (ie. initial page for Clubs) -->
    <ng-container *ngIf="!loadingContent && (isMobile || !selectedClub) && !filtersOpen">
      <div class="large-text-content">
        <markdown [data]="description"></markdown>
      </div>

      <se-map 
        *ngIf="clubMapPoints"
        [points]="clubMapPoints"
        [selectedPoint]="hoveredListClub"
        (hoverPoint)="mapHoverEvent($event)"
        (clickPoint)="mapClickEvent($event)"
      ></se-map>

      <div class="sub-text-container">
        <!-- Section for Start a new club form -->
        <div class="sub-text-box">
          {{subText1}}
          <div>
            <a class="btn" [href]="subText1ButtonLink" target="_blank">
              {{subText1ButtonText}}
              <i class="fa-solid fa-up-right-from-square fa-sm"></i>
            </a>
          </div>
        </div>

        <!-- Section for contacting SEC about clubs -->
        <div class="sub-text-box">
          {{subText2}}
          <div>
            <a class="btn" [href]="subText2ButtonLink">
              {{subText2ButtonText}}
              <i class="fa-regular fa-envelope fa-sm"></i>
            </a>
          </div>
        </div>
      </div>

    </ng-container>

    <!-- Filters -->
    <ng-container *ngIf="filtersOpen">
      <div class="large-text-content">
        <markdown [data]="filtersDescription"></markdown>
      </div>
      <se-filter-map [selectedStates]="filters.states" (selectStateEmitter)="handleStateSelection($event)"></se-filter-map>
    </ng-container>

    <!-- Information for selected club details -->
    <se-selected-club *ngIf="selectedClub && !isMobile" [selectedClub]="selectedClub">
    </se-selected-club>
  </div>

  <div class="secondary-pane">
    <!-- Loading Spinner -->
    <loading-spinner *ngIf="loadingClubs"></loading-spinner>

    <!-- Filters Icon -->
    <div class="icon-row" (click)="toggleFiltersOpen()" *ngIf="!loadingClubs">
      <i class="fa-solid fa-filter"></i>
    </div>

    <!-- List for all loaded clubs -->
    <div id="club-list-container" class="list-container" *ngIf="!loadingClubs">
      <ng-container *ngFor="let club of filteredClubs;">
        <!-- Club Bubble -->
        <div class="item-container clickable" style="--state-color:{{StateColors[club.state]}}"
          [ngClass]="{active: selectedClub?.id === club.id || hoveredMapClub === club.id}"
          (mouseover)="clubHover(club)" (mouseout)="clubHover()">
          <div class="item-row" (click)="selectClub(club)" id="{{club.id}}">
            <div class="item-title">
              {{club.name}}
            </div>
            <div class="item-sub-text">
              {{club.city}}
            </div>
          </div>
          <!-- Information for selected club details -->
          <se-selected-club *ngIf="isMobile && selectedClub?.id === club.id" [selectedClub]="selectedClub">
          </se-selected-club>
        </div>
      </ng-container>
    </div>
  </div>
</div>
