<div class="clubs-container" *ngIf="!isMobile()">
  <div class="left-pane">
    <header [title]="title"></header>

    <!-- Information if there is no selected club (ie. initial page for Clubs) -->
    <ng-container *ngIf="!selectedClub">
      <div class="description">{{description}}</div>
      <div class="sub-text-container">
        <!-- Section for Start a new club form -->
        <div class="sub-text-box">
          {{subText1}}
          <div>
            <a class="btn darker-border" [href]="'https://forms.gle/QZVxzyVsxgaJZQme7'" target="_blank">
              Apply Here
              <i class="fa-solid fa-up-right-from-square fa-sm"></i>
            </a>
          </div>
        </div>

        <!-- Section for contacting SEC about clubs -->
        <div class="sub-text-box">
          {{subText2}}
          <div>
            <a class="btn darker-border" target="_blank">
              Contact Us
              <i class="fa-regular fa-envelope fa-sm"></i>
            </a>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- Information for selected club details -->
    <div *ngIf="selectedClub" class="club-information">
      <!-- Club Name -->
      <h2 class="club-name">
        {{selectedClub.name}}
      </h2>

      <!-- Club Location -->
      <div class="club-text">
        {{selectedClub.city}}
      </div>

      <!-- Club Photos in a carousel -->
      <div class="club-photo-container" *ngIf="selectedClub.image">
        <img class="club-image" src="{{selectedClub.image}}">
      </div>

      <!-- Short Club description -->
      <div class="description-container" *ngIf="selectedClub.description">
        <div class="club-text">
          {{selectedClub.description}}
        </div>
      </div>

      <div class="club-details-row" [ngClass]="{'darker-border': selectedClub?.state === 'TN'}">
        <!-- Bubble for the venue of the club -->
        <div class="detail-container" *ngIf="selectedClub.venue || selectedClub.address">
          <b>Where?</b>
          <div class="detail-sub-container">
            <div>{{selectedClub.venue}}</div>
            <a [href]="'https://www.google.com/maps/search/' + selectedClub.address" target="_blank">
              {{selectedClub.address}}
            </a>
          </div>
        </div>

        <!-- Bubble for when the club's meetings are -->
        <div class="detail-container" *ngIf="selectedClub.meetingInformation">
          <b>When?</b>
          <div class="detail-sub-container">
            {{selectedClub.meetingInformation}}
          </div>
        </div>

        <!-- Bubble for who to contact for information about the club -->
        <div class="detail-container"
          *ngIf="selectedClub.contactName || selectedClub.contactInfo || selectedClub.website">
          <b>Contact</b>
          <div class="detail-sub-container">
            <div>{{selectedClub.contactName}}</div>
            <div>{{selectedClub.contactInfo}}</div>
            <div>{{selectedClub.website}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="right-pane">
    <!-- List for all loaded clubs -->
    <div class="clubs-list-container">
      <ng-container *ngFor="let club of clubs; let i = index; ">
        <!-- Club Bubble -->
        <div class="club-item-container clickable" style="--state-color:{{StateColors[club.state]}}"
          [ngClass]="{active: selectedClub?.name === club.name && selectedClub?.city === club.city}"
          (click)="selectClub(club)">
          <div class="club-name">
            {{club.name}}
          </div>
          <div class="club-date">
            {{club.city}}
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<!-- Mobile -->
<div class="clubs-container-mobile" *ngIf="!isMobile()">
</div>
