@if (selectedCompetition(); as competition) {
  <div class="selected-item-container">
    <!-- Competition Name w/ WCA Logo & Link to competition on WCA -->
    @if (!isMobile()) {
      <a
        [href]="environment.links.wcaCompetition + competition.id"
        target="_blank"
        rel="noopener noreferrer"
        matTooltip="{{ competition.name }} on the WCA website"
        matTooltipPosition="above"
      >
        <h2 class="title-text">
          {{ competition.name }}
          <!-- WCA Logo -->
          <img
            ngSrc="assets/wca_logo.svg"
            alt="WCA Logo"
            width="293"
            height="293"
            class="wca-logo"
          />
        </h2>
      </a>
    }

    <!-- container for remaining details for styling -->
    <div class="competition-details">
      <!-- Link to WCA -->
      @if (isMobile()) {
        <a
          [href]="environment.links.wcaCompetition + competition.id"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            ngSrc="assets/wca_logo.svg"
            alt="WCA Logo"
            width="293"
            height="293"
            class="wca-logo-mobile"
            matTooltip="World Cube Association"
            matTooltipPosition="above"
          />
        </a>
      }

      <!-- Competition Event List -->
      <div class="event-container">
        <!-- Event List -->
        @for (event of competition.event_ids; track event) {
          <span
            [ngClass]="'cubing-icon event-' + event"
            [matTooltip]="EventNames[event]"
            matTooltipPosition="above"
            [attr.aria-label]="EventNames[event]"
          ></span>
        }
      </div>

      <!-- Basic Info Bubble -->
      <div class="detail-container">
        <div>
          City: <b>{{ competition.city }}</b>
        </div>
        @if (!isMobile()) {
          <div>
            Date: <b>{{ competition.full_date }}</b>
          </div>
        }
        @if (!competition.venue_url) {
          <div>
            Venue: <b>{{ competition.venue }}</b>
          </div>
        }
        @if (competition.venue_url) {
          <a [href]="competition.venue_url" target="_blank" rel="noopener noreferrer">
            <div>
              Venue: <b>{{ competition.venue }}</b>
            </div>
          </a>
        }
        <a
          [href]="environment.links.googleMaps + competition.venue_address"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div>
            Address: <b>{{ competition.venue_address }}</b>
          </div>
        </a>
      </div>

      <!-- Location On Google Map View Bubble -->
      @if (!isMobile()) {
        <div class="detail-container map-container">
          <iframe
            width="270"
            height="320"
            class="map-iframe"
            loading="lazy"
            allowfullscreen
            referrerpolicy="no-referrer-when-downgrade"
            [src]="googleMapUrl() | safeUrl"
          >
          </iframe>
        </div>
      }

      <!-- Registration Information Bubble -->
      <div class="detail-container">
        <div>
          Competitor Limit: <b>{{ competition.competitor_limit }}</b>
        </div>

        <!-- Info for Registration Status pre launch -->
        @if (competition.registration_status === RegistrationStatus.preLaunch) {
          <div class="tiny-text-content">
            Registration will open on <b>{{ competition.readable_registration_open }}</b
            >. We highly recommend registering right when registration opens. Some competitions fill
            within seconds.
          </div>
        }

        <!-- Info for Registration Status Closed -->
        @if (competition.registration_status === RegistrationStatus.closed) {
          <div>Registration has closed. You can no longer register for this competition.</div>
        }

        <!-- Info for Registration Status open with spots -->
        @if (competition.registration_status === RegistrationStatus.openWithSpots) {
          <div>
            Registration is open! The competition is currently
            {{ (competition.accepted_registrations ?? 0) / competition.competitor_limit | percent }}
            full.
          </div>
        }

        <!-- Info for Registration Status open with a waiting list -->
        @if (competition.registration_status === RegistrationStatus.openWithWaitingList) {
          <div>
            Registration is <b>full</b>. You can still register for the waiting list in case of any
            cancellations.
          </div>
        }

        <!-- Info for Registration Status open (Manual Competition) -->
        @if (competition.registration_status === RegistrationStatus.open) {
          <div>
            Registration is open! Please check the competition website for availability at this
            location.
          </div>
        }

        <!-- Register here link to WCA for certain Registration Statuses -->
        @if (
          competition.registration_status &&
          [
            RegistrationStatus.preLaunch,
            RegistrationStatus.openWithSpots,
            RegistrationStatus.openWithWaitingList,
            RegistrationStatus.open,
          ].includes(competition.registration_status)
        ) {
          <div>
            <a
              class="btn"
              [href]="environment.links.wcaCompetition + competition.id + '/register'"
              target="_blank"
              rel="noopener noreferrer"
            >
              Register Here
              <i class="fa-solid fa-up-right-from-square fa-sm"></i>
            </a>
          </div>
        }

        <!-- Volunteer Application -->
        <div>
          @if (competition.is_in_volunteer_application) {
            <a
              class="btn"
              [href]="linksService.applyToVolunteerForm"
              target="_blank"
              rel="noopener noreferrer"
            >
              Apply To Volunteer
              <i class="fa-solid fa-up-right-from-square fa-sm"></i>
            </a>
          }
        </div>
      </div>

      <!-- Contact Bubble -->
      <div class="detail-container">
        <div>Have any questions? Reach out to the organizers!</div>
        <div>
          <a
            class="btn"
            [href]="environment.links.wcaContact + competition.id"
            target="_blank"
            rel="noopener noreferrer"
          >
            Contact
            <i class="fa-regular fa-envelope fa-lg clickable"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
}
