@import "src/styles/color-pallet.scss";

.home-container {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: $se-blue;
  flex-direction: row;

  .left-pane {
    display: flex;
    width: 50%;
    height: 100%;
    background-color: $se-orange;
    flex-direction: column;

    header {
      width: 100%;
    }

    .description {
      margin: 100px 30px;
      width: calc(100% - 60px);
      text-align: center;
      font-size: 30px;
    }

    .badges {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      margin: auto 0 100px 0;
      height: 100px;
      width: 100%;
      font-size: 24px;
    
      .clickable {
        cursor: pointer;
        color: $se-black;
      }
    
      .wca-logo-container {
        width: 40px;
        
        .wca-logo {
          margin-top: 10px;
          margin-left: -15px;
          height: 50px;
        }
      }
    }
    
  }

  .right-pane {
    display: flex;
    width: 50%;
    height: 100%;
    background-color: $se-black;
    flex-direction: column;

    .home-photo-container {
      height: 50vh;
      width: 80%;
      margin: auto;
  
      .home-photo {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
    }
  }

}
