<div class="component-container">
  <div class="main-pane">
    <header id="header" [title]="title"></header>

    <!-- Loading Spinner -->
    <loading-spinner *ngIf="loadingContent"></loading-spinner>

    <ng-container *ngIf="!loadingContent">
      <!-- Photo Carousel on Mobile -->
      <div class="mobile-home-photo-container" *ngIf="isMobile">
        <carousel [images]="photos" [cellsToShow]="1" [height]="200" [loop]="true" [autoplay]="true" [arrows]="false">
        </carousel>
      </div>

      <div class="large-text-content">{{description}}</div>

      <!-- Icons for important external links, such as social media -->
      <div class="badges">
        <!-- Link to World Cube Association -->
        <a href="https://www.worldcubeassociation.org/" target="_blank" class="wca-logo-container">
          <img src="assets/wca_logo.svg" class="wca-logo">
        </a>

        <!-- Link to email Southeast Cubing -->
        <a href="mailto:SoutheastCubing@gmail.com" target="_blank">
          <i class="fa-solid fa-envelope fa-2xl clickable"></i>
        </a>

        <!-- Facebook -->
        <a href="https://www.facebook.com/groups/491409969462797/" target="_blank">
          <i class="fa-brands fa-square-facebook fa-2xl clickable"></i>
        </a>

        <!-- Discord -->
        <a href="https://discord.gg/hp7DSmtReb/" target="_blank">
          <i class="fa-brands fa-discord fa-2xl clickable"></i>
        </a>

        <!-- Instagram -->
        <a href="https://www.instagram.com/southeastcubing/" target="_blank">
          <i class="fa-brands fa-instagram fa-2xl clickable"></i>
        </a>

        <!-- Youtube -->
        <a href="https://www.youtube.com/@SoutheastCubing" target="_blank">
          <i class="fa-brands fa-youtube fa-2xl clickable"></i>
        </a>
      </div>
    </ng-container>
  </div>
  <div class="secondary-pane" *ngIf="!isMobile">
    <!-- Loading Spinner -->
    <loading-spinner *ngIf="loadingContent"></loading-spinner>

    <ng-container *ngIf="!loadingContent">
      <div class="home-photo-container">
        <carousel [images]="photos" [cellsToShow]="1" [height]="500" [loop]="true" [autoplay]="true" [arrows]="false">
        </carousel>
      </div>
    </ng-container>
  </div>
</div>
