@import "src/styles/color-pallet.scss";
@import "src/styles/screen-sizes.scss";

:root {
  --duration: 5s;
  --duration-double: 10s;
}

.component-container {

  .main-pane {

    .announcement-banner {
      font-size: 20px;
      background-color: var(--banner-color);
      padding: 20px;
      width: 100%;
      margin: 5px 0;
      box-shadow: 3px 3px 5px rgb(0 0 0 / 0.4);

      .items-container {
        display: flex;
        width: 10000px;
        animation-name: infiniteScroll;
        animation-duration: 120s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }

      .announcement-text {
        white-space: nowrap;
      }

      .fa-solid {
        font-size: 16px;
        top: -4px;
        position: relative;
      }
    }

    .badges {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      margin: auto 0 100px 0;
      height: 100px;
      width: 100%;
      font-size: 24px;

      .wca-logo-container {
        width: 40px;

        .wca-logo {
          margin-top: 10px;
          margin-left: -15px;
          height: 50px;
        }
      }
    }

  }

  .secondary-pane {
    .home-photo-container {
      height: 50vh;
      width: 80%;
      margin: auto;
    }
  }

  .mobile-home-photo-container {
    height: 200px;
    width: 95%;
    margin: auto;
  }

}

@media only screen and (max-width: $small-breakpoint) {
  .badges {
    font-size: 16px !important;
    height: 80px !important;
    margin: auto 0 0 0 !important;
  }

  .wca-logo {
    margin: 5px 0 0 0 !important;
    height: 30px !important;
  }

  .announcement-banner {
    font-size: 16px !important;
    padding: 5px !important;
    margin: 5px 0 !important;
  }
}

::ng-deep carousel {
  div {
    border-radius: 10px;
  }
}

@keyframes infiniteScroll {
  from {transform: translateX(0)}
  to {transform: translateX(-50%)}
}
