@import "src/styles/color-pallet.scss";

.component-container {

  .main-pane {

    .badges {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      margin: auto 0 100px 0;
      height: 100px;
      width: 100%;
      font-size: 24px;

      .wca-logo-container {
        width: 40px;

        .wca-logo {
          margin-top: 10px;
          margin-left: -15px;
          height: 50px;
        }
      }
    }

  }

  .secondary-pane {
    .home-photo-container {
      height: 50vh;
      width: 80%;
      margin: auto;
    }
  }

}

::ng-deep carousel {
  div {
    border-radius: 10px;
  }
}
