@use 'src/styles/color-pallet';

.loading-text {
  display: flex;
  flex-direction: column;
}

.error-color {
  color: color-pallet.$se-dark-red;
}

.success-color {
  color: color-pallet.$se-dark-green;
}
