<div class="involvement-container">
  <div class="page-header">
    <div class="title">{{title}}</div>
    <div class="description">{{description}}</div>
  </div>

  <ng-container *ngFor="let subTopic of subTopics">
    <div class="sub-topic-container">
      <div class="sub-topic-title" (click)="openTopic(subTopic.title)">
        {{subTopic.title}} 
        <i class="fa-solid" [ngClass]="selectedTopic === subTopic.title ? 'fa-angle-down' : 'fa-angle-up'"></i>
      </div>
      <div *ngIf="selectedTopic === subTopic.title" class="sub-topic-description-container">
        <div class="sub-topic-description">
          {{subTopic.description}}
        </div>
        <div class="sub-topic-photo-container" *ngIf="!!subTopic.photo">
          <img src="{{subTopic.photo.fields.file.url}}" class="sub-topic-photo">
        </div>
      </div>
      <!-- We need to load the image prior to showing it -->
      <div class="sub-topic-hidden-photo" *ngIf="!!subTopic.photo">
        <img src="{{subTopic.photo.fields.file.url}}" class="sub-topic-photo">
      </div>
    </div>
  </ng-container>

  <loading-spinner *ngIf="loadingContent"></loading-spinner>
</div>
