<div class="component-container">
  <div class="main-pane" tabindex="0">
    <se-header
      id="header"
      [title]="title()"
      [activateNavOnDefault]="true"
      [showNavCluster]="isMobile()"
    ></se-header>
    @if (loadingContent()) {
      <se-loading-spinner></se-loading-spinner>
    }
    @if (!loadingContent()) {
      <div class="large-text-content">
        <markdown [data]="description()"></markdown>
      </div>
    }
  </div>
  @if (!isMobile()) {
    <div class="side-pane">
      <se-header id="header" [activateNavOnDefault]="true" [showTitle]="false"></se-header>
    </div>
  }
</div>
